  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }

 ::-webkit-scrollbar {
    width: 0.3em;
 }

 ::-webkit-scrollbar-thumb {
    background: var(--Auburn); 
    border-radius: 1.5em;
 }

 ::-webkit-scrollbar-thumb:hover {
    background: var(--light-purple);
 }

  img, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
 #__next {
    isolation: isolate;
  }

  button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
  }

  input, textarea, select, button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

 :root {
    isolation: isolate;
    --black-bean: #250902;
    --black-bean-light: #38040E;
    --rosewood: #640D14;
    --Falu-red: #800E13;
    --Auburn: #AD2831;
    --peach: #ffe0b5;
    --light-purple: #f6ebfc;
    --border:  #d8c5e071;
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);  
    --rich-black-fogra-29: hsl(210, 26%, 7%);
 }

 body {
    background-color: var(--black-bean-light);
    display: grid;
    grid-template-columns: 0.9fr 4fr;
    color: var(--light-purple); 
 }

 .side-bar {
    background-color: var(--black-bean);
    min-height: 100%;
    height: 100vh;
    padding: 1.5em;
 }

 .logo {
    font-family: 'Courier New', monospace;
    font-weight: 800;
    font-size: 1.3em;
    padding-top: 0.4em;
    color: var(--white);
    margin-bottom: 1.2em;
    cursor: pointer;
 }

 .add-task {
    margin-top: -0.5em;
 }

 .add-task, .projects {
   font-weight: 900;  
   font-size: 1.1em;
   margin-left: -0.4em;
 }

 .add-task:hover, .all-task:hover, .project:hover, .projects:hover {
    background-color: var(--rosewood);
    border-radius: 8px;
 }

 .add-task::before {
    content: '';
    background-image: url(./assets/add_circle_30dp_AD2831_FILL1_wght400_GRAD0_opsz24.png);
    background-size: 1.4em;
    display: inline-block;
    width: 1.4em; 
    height: 1.4em;
    background-repeat: no-repeat;
 }

 .all-task, .project, .add-task, .projects {
   display: flex;
   align-items: center;
   gap: 0.4em;
   cursor: pointer;
   margin-bottom: 0.6em;
   border: 2px ;
   padding: 2.8px;
 }

 .project {
   margin-bottom: 0.2em;
   position: relative;
 }

 .all-task::before {
   content: '';
   background-image: url(./assets/checklist_30dp_E5D4ED_FILL0_wght400_GRAD0_opsz24.png);
   background-size: 1.4em;
   display: inline-block;
   width: 1.4em; 
   height: 1.4em;
   background-repeat: no-repeat;
 }

 .project::before {
   content: '';
   background-image: url(./assets/folder_30dp_E5D4ED_FILL0_wght400_GRAD0_opsz24.png);
   background-size: 1.4em;
   display: inline-block;
   width: 1.4em; 
   height: 1.4em;
   background-repeat: no-repeat;
 }

 .add-icon {
    margin-left: 4em;
    width: 1.4em;
    height: 1.4em;
 }

 .project-icon {
    display: none;
 }

 .project:hover > .project-icon {
    display: flex;
    gap: 0.4em;
    width: 1.1em;
    height: 1.1em;
    position: absolute;   
    left: 9.6em;
    bottom: 0.4em;
 }

 .main-content {
   text-align: center;
   margin-top: 2.5em;
   padding: 2em 13em;
 }

 .main-tab {
   display: flex;
   border-bottom: 0.5px solid var(--border);
   padding: 0.5em;
 }

 .task {
   display: grid;
   grid-template-columns: 1fr 0.5fr;
   padding: 1.4em;
   border-bottom: 0.5px solid var(--border);
   cursor: pointer;
 }

 .task:hover {
   background-color: var(--black-bean);
   border-radius: 0.6em;
 }

 .round-mark {
   border-radius: 50%;
   border: 2px solid var(--border);
   width: 16px;
   height: 16px;
   display: inline-block;
   position: absolute;
   left:  -1.6em;
   top: 0.2em;
   cursor: pointer;
 }

 .round-mark:hover {
   background-color: var(--Auburn);
 }

 .task-content {
   text-align: left;
   position: relative;
   margin-left: 1em;
 }

 .title {
   font-weight: 800;
 }

 .task-details {
   text-align: right;
   display: grid;
   grid-template-rows: 1fr 1fr;
   row-gap: 0.8em;
 }

 .priority {
   grid-row: 1;
   border-radius: 6px;
   width: max-content;
   padding: 0.1em 0.6em;
   font-weight: 800;
   font-size: 0.8em;
 }

 .low {
   margin-left: 6em;
   background-color: rgb(45, 131, 45);
 }

 .urgent {
   margin-left: 4.5em;
   background-color: rgb(196, 26, 26);
 }

 .important {
   margin-left: 3em;
   background-color: rgb(161, 114, 27);
 }

 .date {
   grid-row: 1;
 }

 .project-title {
   grid-row: 2;
   grid-column: 2;
   opacity: 0.8;
 } 

 dialog[open] {
   display: contents;
 }

 input, textarea, select, option {
    background-color: var(--Auburn);
    color: var(--light-purple);
    border: 0.1px solid var(--border);
    width: 13em;
    padding: 0.2em 0.5em;
 }
 
 input:focus, textarea:focus, select:focus {
    outline: none;
 }

 .div-form {
    width: 13em;
    margin: -0.4em 0 1em -0.5em;
 }

 .side-form {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
 }

 input::placeholder, textarea::placeholder {
    color: var(--light-purple);
    font-size: 0.9em;
    opacity: 0.7;
 }

 .task-description {
    resize: vertical;
 }
 
 option {
    font-size: 0.8em;
 }

 .task-date {
    margin-top: -0.4em;
 }

 .btns {
    display: flex;
    gap: 4px;
 }

 button {
    cursor: pointer; 
    border: none; 
    border-radius: 0.2em; 
    font-weight: bolder;
 }

 #close-dialog {
    background-color: var(--Auburn);
    color: var(--light-purple);
    border: 0.1px solid var(--border);
 }

 #addToTask {
    background-color: var(--peach);
    color: var(--black-bean);
 }

 .project-name-input {
    display: flex;
    align-items: center;
    gap: 0.4em;
 }

 .project-name-input > input {
    width: 10.2em;
 }

 .project-cancel {
  width: 1.4em;
  height: 1.4em;  
  cursor: pointer;
 }